DESCR="Configmap de ejemplo"
META=El contenido de CADA linea con clave=valor se inyecta en el configmap
REMEMBER=Las comillas importan
CONSEJO=NO GUARDES informacion sensible en los configmaps. Utiliza UN SECRET
CLAVE1=valor1
CLAVE2=valor1
